# Ignore all non-JS files
!**/*.js

# Ignore non-relevant directories
src/assets/javascripts/angularlib/**
src/assets/javascripts/lib/**
public/**
coverage/**
dist/**
node_modules/**
vendor/**
babel.config.js
vue.config.js
vue.eslintrc.js
