language: ruby
bundler_args: --without development production --deployment --jobs=4 --retry=5
cache: bundler
jdk: openjdk8
node_js: 10.1.0
os: linux
rvm: jruby-9.1.14.0

env:
  global:
    # Travis CI makes encrypted variables available ONLY to pull requests coming from the same repository. Read more:
    # https://docs.travis-ci.com/user/pull-requests/#pull-requests-and-security-restrictions
    - ARTIFACTS_PATHS="./calcentral.knob"
    - AWS_ACCESS_KEY_ID=${ARTIFACTS_KEY}
    - AWS_SECRET_ACCESS_KEY=${ARTIFACTS_SECRET}
    - DISPLAY=:99.0
    - JRUBY_OPTS="--dev -J-Xmx900m"
    - LOGGER_LEVEL=WARN
    - PATH="${HOME}/.local/bin:$PATH"
    - S3_PATH="/${TRAVIS_BRANCH}/$(date -u +%Y%m%d_%H%M%SZ)"

before_install:
  - gem uninstall bundler --force -x
  - gem install bundler -v '1.15.4'

jobs:
  include:
    - stage: Test
      if: type = pull_request
      script:
        - npm config set strict-ssl false
        - npm install --production
        - npm run build
        - npm run lint
    - # Lint SCSS
      if: type = pull_request
      script:
        - gem cleanup scss_lint
        - gem install scss_lint --version 0.49.0
        - scss-lint src/assets/stylesheets
    - # RSpec
      if: type = pull_request
      script:
        - RAILS_ENV=test bundle exec rspec
    - stage: Deploy
      if: type = push OR env(DEPLOY_CALCENTRAL_KNOB) = true
      script:
        - pip install --user awscli
        - aws configure list
        - aws s3 cp s3://${ARTIFACTS_BUCKET}/third-party-dependencies/ojdbc7.jar .
        - mv ./ojdbc7.jar ./lib
        - git log --pretty=format:'%H' -n 1 > versions/git.txt
        - bundle install --deployment --local --retry 3
        - bundle package --all
        - bundle exec rake assets:precompile
        - bundle exec rake fix_assets
        - bundle exec rake torquebox:archive NAME=calcentral 2>&1 1>/dev/null
        - echo -n "${S3_PATH}/calcentral.knob" > latest.txt
        - aws s3 cp latest.txt "s3://${ARTIFACTS_BUCKET}/${TRAVIS_BRANCH}/"

# Note: the artifacts add-on does not run on pull request builds. Read https://docs.travis-ci.com/user/uploading-artifacts/
addons:
  artifacts:
    s3_region: 'us-west-2'
    debug: true
    target_paths:
      - ${S3_PATH}
