<div class="bc-canvas-application bc-page-course-grade-export">

  <div>
    <div data-ng-if="appState === 'initializing'" data-cc-spinner-directive></div>

    <div data-ng-show="appState === 'error'">

      <!-- Standard Error -->
      <div data-ng-if="errorStatus" role="alert">
        <p>
          <i class="fa fa-warning"></i>
          <span data-ng-bind="errorStatus"></span>
        </p>
        <p data-ng-if="contactSupport">Please contact <a href="http://www.ets.berkeley.edu/discover-services/bcourses">bCourses support</a> for further assistance.</p>
        <p data-ng-if="unexpectedContactSupport">If this is not expected, please contact <a href="http://www.ets.berkeley.edu/discover-services/bcourses">bCourses support</a> for further assistance.</p>
      </div>

    </div>

    <div data-ng-show="appState === 'preselection'">

      <div class="row collapse">
        <div class="medium-12 columns">
          <div>
            <div data-ng-include src="'canvas_embedded/_shared/back_to_gradebook_link.html'"></div>
          </div>
        </div>
      </div>

      <div class="row collapse">
        <div class="medium-12 columns">
          <h1 class="bc-page-course-grade-export-header">Before exporting your E-Grades:</h1>
        </div>
      </div>

      <div class="row collapse">
        <div class="medium-12 columns">
          <h2 class="bc-page-course-grade-export-sub-header">1. Select a grading scheme:</h2>
          <p data-ng-show="!noGradingStandardEnabled" class="bc-page-course-grade-export-download-description">
            You have already set a grading scheme. You can view your grading scheme or select an alternate grading scheme in
            <button class="bc-button-link" data-ng-click="goToCourseSettings()">Course Settings</button>.
          </p>
          <p data-ng-show="noGradingStandardEnabled" class="bc-page-course-grade-export-download-description">
            Set a grading scheme in <button class="bc-button-link" data-ng-click="goToCourseSettings()">Course Settings</button> and return once completed.
          </p>
          <p class="bc-page-course-grade-export-download-description">
            For detailed instructions, see: "<a href="https://community.canvaslms.com/docs/DOC-26521-how-do-i-enable-a-grading-scheme-for-a-course">How do I enable a grading scheme for a course?</a>"
          </p>
        </div>
      </div>

      <div class="row collapse">
        <div class="medium-12 columns">
          <h2 class="bc-page-course-grade-export-sub-header">2. Post all assignment grades:</h2>
          <p class="bc-page-course-grade-export-download-description">
            All assignment grades must be posted (published/unmuted) to ensure that your E-Grades export matches what you see in the gradebook. To confirm that all grades have been posted, review all columns in <button class="bc-button-link" data-ng-click="goToGradebook()">your gradebook</button> for any assignments with a crossed-out eye icon
            <span class="cc-nowrap">(<img class="bc-page-course-grade-export-image-inline" src="/canvas/images/crossed_out_eye.png" alt="Crossed-out eye icon">)</span>
            indicating that an assignment has unposted grades.
          </p>
          <p class="bc-page-course-grade-export-download-description">
            To post unposted grades:
          </p>
          <ul class="bc-page-course-grade-export-download-list">
            <li>
              Click the three vertical dot menu
              <span class="cc-nowrap">(<img class="bc-page-course-grade-export-image-inline" src="/canvas/images/three_vertical_dots.png" alt="Three vertical dots">)</span>
            </li>
            <li>Select "Post grades"</li>
            <li>Select whether you wish to post grades for "Everyone," or only "Graded" students and click "Post"
          </ul>
          <p class="bc-page-course-grade-export-download-description">
            For detailed instructions, see:
            "<a href="https://community.canvaslms.com/docs/DOC-17330-41521116619">How do I post grades for an assignment?</a>"
          </p>
          <p class="bc-page-course-grade-export-download-description">
            <strong>In order to avoid errors, we suggest cross-checking final grades in the bCourses gradebook with the output CSV to confirm grades were exported as expected.</strong>
          </p>
        </div>
      </div>

      <div class="row collapse">
        <div class="medium-12 columns">
          <div class="cc-text-right">
            <button class="bc-canvas-button" type="button" data-ng-click="goToGradebook()" aria-label="Go Back to Gradebook">Cancel</button>
            <button data-ng-disabled="noGradingStandardEnabled" data-ng-click="switchToSelection()" class="bc-canvas-button bc-canvas-button-primary" type="button">
              Continue
            </button>
          </div>
        </div>
      </div>

    </div>

    <div data-ng-show="appState === 'selection'">

      <div class="row collapse" aria-hidden="true">
        <div class="medium-12 columns">
          <div data-ng-include src="'canvas_embedded/_shared/back_to_gradebook_link.html'"></div>
        </div>
      </div>

      <div class="row collapse">
        <div class="medium-12 columns">
          <h1 class="bc-page-course-grade-export-header bc-accessibility-no-outline" data-cc-focus-reset-directive="focusOnSelectionHeader">Export E-Grades</h1>
        </div>
      </div>

      <div class="cc-visuallyhidden">
        <a data-ng-click="goToGradebook()">Back to Gradebook</a>
      </div>

      <div class="row collapse" data-ng-show="officialSections.length > 1">
        <h2 class="bc-page-course-grade-export-download-header">Select section</h2>
        <div class="medium-5 columns end">
          <select id="course-sections" class="bc-form-input-select" data-ng-model="selectedSection" data-ng-options="section as section.display_name for section in officialSections"></select>
        </div>
      </div>

      <div class="row collapse">
        <h2 class="bc-page-course-grade-export-download-header">Select P/NP cutoff grade</h2>
        <div class="medium-5 columns end">
          <p class="bc-page-course-grade-export-download-description">
            The E-Grades export will automatically convert bCourses letter grades to the student-selected grading option. Please select the lowest passing letter grade.
          </p>
          <select
            id="select-pnp-grade-cutoff"
            class="bc-form-input-select bc-page-course-grade-export-select-pnp-cutoff"
            data-ng-model="selectedPnpCutoffGrade"
            data-ng-options="grade for grade in letterGrades">
            <option value="">Select a grade</option>
          </select>
        </div>
      </div>

      <div class="row collapse">
        <h2 class="bc-page-course-grade-export-download-header">What would you like to download?</h2>
      </div>

      <div class="row collapse">
        <h3 class="bc-page-course-grade-export-download-header">Current Grades</h3>
        <div class="medium-5 columns end">
          <p class="bc-page-course-grade-export-download-description">
            Current grades download ignores unsubmitted assignments when calculating grades.
            Use this download when you want to excuse unsubmitted assignments.
          </p>
          <button
            data-ng-click="preloadGrades('current')"
            data-ng-disabled="!selectedPnpCutoffGrade"
            class="bc-canvas-button bc-canvas-button-primary">
            Download Current Grades
          </button>
        </div>
      </div>

      <div class="row collapse">
        <h3 class="bc-page-course-grade-export-download-header">Final Grades</h3>
        <div class="medium-5 columns end">
          <p class="bc-page-course-grade-export-download-description">
            Final grades download counts unsubmitted assignments as zeroes when calculating grades.
            Use this download when you want to include all unsubmitted assignments as part of the grade.
          </p>
          <button
            data-ng-click="preloadGrades('final')"
            data-ng-disabled="!selectedPnpCutoffGrade"
            class="bc-canvas-button bc-canvas-button-primary">
            Download Final Grades
          </button>
        </div>
      </div>

      <div class="row collapse">
        <div class="medium-12 columns">
          <div class="bc-page-course-grade-export-more-info-container">
            <p class="bc-page-course-grade-export-more-info">
              For more information, see
              <a href="https://berkeley.service-now.com/kb?id=kb_article_view&sysparm_article=KB0010659&sys_kb_id=8b7818e11b1837ccbc27feeccd4bcbbe">From bCourses to E-Grades</a>
            </p>
          </div>
        </div>
      </div>

      <div class="row collapse">
        <div class="medium-12 columns bc-page-course-grade-export-grade-link" data-ng-if="canvasCourseId && parentHostUrl">
          <button class="bc-button-link" data-ng-click="goToGradebook()">Back to Gradebook</button>
        </div>
      </div>

    </div>

    <div aria-live="polite">
      <div data-ng-if="appState === 'loading'">
        <div class="row collapse">
          <div class="medium-5 columns end">
            <h1 class="bc-page-course-grade-export-header">Preparing E-Grades for Download</h1>
          </div>
        </div>

        <div data-ng-hide="jobStatus" class="bc-page-course-grade-export-notice-pending-request">
          <i class="fa fa-spinner fa-spin"></i>
          Sending preparation request...
        </div>

        <div data-ng-if="jobStatus === 'New'" class="bc-page-course-grade-export-notice-pending-request">
          <i class="fa fa-spinner fa-spin"></i>
          Preparation request sent. Awaiting processing....
        </div>

        <div data-ng-if="jobStatus">
          <div data-ng-include src="'canvas_embedded/_shared/progress_bar.html'"></div>
        </div>
      </div>
    </div>
  </div>

</div>
