# The test environment should require minimal configuration, and is the one targeted by Travis.
# Avoid creating too many dependencies (if any) on a test.local.yml
application:
  layer: 'test'

logger:
  level: <%= ENV['LOGGER_LEVEL'] || DEBUG %>
  stdout: <%= ENV['LOGGER_STDOUT'] || 'only' %>

canvas_proxy:
  fake: true
  app_provider_host: 'https://cc-dev.example.com'
  oldest_official_term: 2013-D

edodb:
  fake: true

edwdb:
  fake: true

ldap:
  fake: 'true'
  host: 'ldap-test.berkeley.edu'

google_proxy:
  fake: true

hub_term_proxy:
  fake: true

postgres:
  database: <%= ENV['DB_ENV_POSTGRESQL_DB'] || 'calcentral_test' %>
  username: <%= ENV['DB_ENV_POSTGRESQL_USER'] || 'calcentral_test' %>
  password: <%= ENV['DB_ENV_POSTGRESQL_PASS'] || 'secret' %>
  host: <%= ENV['DB_PORT_5432_TCP_ADDR'] || 'localhost' %>
  port: <%= ENV['DB_PORT_5432_TCP_PORT'] || '5432' %>
  pool: 3

terms:
  # Keyed to test data
  fake_now: 2013-10-11 04:20:00

cal1card_proxy:
  fake: true

mailgun_proxy:
  fake: true
  max_retries: 1

# To avoid "Illegal key size" errors on systems which we can't modify (e.g., Travis),
# lower the security of the encryption algorithm.
oauth2:
  encryption: "aes-128-cbc"

cache:
  store: "memory"
  log_level: <%= Logger::DEBUG %>
  expiration:
    default: <%= 35.minutes %>
    User::Api: <%= 1.day %>

features:
  cal1card: true
  videos: true
