// Read more about why we're using @import instead of require at
// http://stackoverflow.com/questions/6269420

// Bootstrap overrides
@import "bootstrap_variables";

// CalCentral Specific
@import "colors";
@import "base";
@import "buttons";
@import "lists";
@import "selects";
@import "text";
@import "flexbox";
@import "containers";

// Useful
@import "useful";

// Header
@import "header";
// Top navigation
@import "navigation";
// Alerts
@import "alerts";
// Footer
@import "footer";

// Logo
@import "logo";
// Icons
@import "icons";
// Widgets
@import "widgets";
// Tables
@import "tables";
// Scrollbars
@import "scrollbars";
// Act As
@import "act_as";

// Academics
@import "roster";

// Oec
@import "oec";

// Dashboard
@import "google_reminder";

// Canvas external apps
// See also 'roster' above for shared CalCentral/Canvas Roster
@import "canvas_colors";
@import "canvas_base";
@import "canvas_embedded";
@import "canvas_buttons";

@import "profile_bconnected";

// Toolbox
@import "toolbox";

// Splash
@import "splash";

// Status pages: 404/sorry
@import "status";

// Off Canvas
@import "offcanvas";

// Class Page Youtube Videos Styles
@import "youtube_videos";

// Disabled links
@import "disabled_links";

// Print Styles
@import "print";

// ETS-only services
@import "junction";

